node_modules/
www/
android/.gradle/
android/build/
android/local.properties
android/.idea/
android/app/build/
ios/Pods/
ios/build/
ios/DerivedData/
/Fazenda3D.apk
/_tmp_script.js
/snippet.txt
/snippet2.txt

# Local Netlify folder
.netlify
